body  {
    margin: 0px;

}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
}
.header .header__nav {
    background-color: black; 
}
.header .header__nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .header__nav ul li{
    margin: 0px 25px;
}
.header .header__nav ul li a{
    text-decoration: none;
    color: white;
}
h1{
    color:white;
    font-size: 47px;
}
h1 strong{
    color:blue
}
.section1{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 img{
    width: 50%;
    height: 450px;
}
